:root {
    --default-padding: 10px;
    --nav-height: 50px;
    --default-background: #2c2f33;
    --sidebar-background: #23272a;
    color: #d9dadb;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--default-background);
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}

.navbar {
    width: calc(100% - 2 * var(--default-padding));
    height: var(--nav-height);
    background-color: var(--default-background);
    padding: var(--default-padding);
    outline: solid black 2px;
}

.sidebar {
    height: calc(100% - 2 * var(--default-padding));
    width: calc(15% - 2 * var(--default-padding));
    float: left;
    background-color: var(--sidebar-background);
    padding: var(--default-padding);
}

.body {
    height: calc(100% - 2 * var(--default-padding));
    width: calc(85% - 2 * var(--default-padding));
    float: right;
    background-color: var(--default-background);
    padding: var(--default-padding);
}

@media screen and (max-width: 1200px) {
    .sidebar {
        height: calc(100% - 2 * var(--default-padding));
        width: calc(40% - 2 * var(--default-padding));
        float: left;
        background-color: var(--sidebar-background);
        padding: var(--default-padding);
    }
    
    .body {
        height: calc(100% - 2 * var(--default-padding));
        width: calc(60% - 2 * var(--default-padding));
        float: right;
        background-color: var(--default-background);
        padding: var(--default-padding);
    }
}

@media screen and (max-width: 1800px) {
    .sidebar {
        height: calc(100% - 2 * var(--default-padding));
        width: calc(25% - 2 * var(--default-padding));
        float: left;
        background-color: var(--sidebar-background);
        padding: var(--default-padding);
    }
    
    .body {
        height: calc(100% - 2 * var(--default-padding));
        width: calc(75% - 2 * var(--default-padding));
        float: right;
        background-color: var(--default-background);
        padding: var(--default-padding);
    }
}